.content {
  background-color: $content-background-color;
  width: 100%;
  padding: 20px;
  
  h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  h4 {
    margin-bottom: 15px;
  }

  article {
    margin-bottom: 20px;
  }

  @media (min-width: $screen-md-min) {
    width: 992px;
    margin: -100px auto 0 auto;
    padding: 40px;
  }
}

.block {
  margin-top: 50px;
}
