.content {
  background-color: $content-background-color;
  width: 100%;
  padding: 20px;
  
  h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  @media (min-width: $screen-md-min) {
    width: 992px;
    margin: -100px auto 0 auto;
    padding: 40px;
  }
}

.block {
  margin-top: 50px;
}
.image-container {
  text-align: center;
  img {
    margin: 5px;
    max-width: 100%;
    @include media-query($screen-md-min) {
      max-width: 49%;
      margin: 10px 0;
    }
  }
}
