.header {
  @include clearfix();
  background-color: $menu-background-color;
  position: relative;
  h1 {
    font-weight: bolder;
    font-size: 1.5em;
    margin: 10px 0 10px 20px;
    z-index: 10;
    @media (min-width: $screen-md-min) {
      max-width: 20%;
      position: absolute;
      left: 0;
      top: 0;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 30%;
      margin-top: 15px
    }
    a {
      text-decoration: none;
    }
  }
  .nav {
    z-index: 8;
    position: relative;
    display: none;
    ul {
      margin: 0;
    }

    @media (min-width: $screen-md-min) {
      display: block;
      margin: 0;
      font-size: 1em;
      width: 100%;
      padding-left: 25%;
      text-align: center;
      float: right;
      text-transform: uppercase;
      li {
        display: inline-block;

      }
      a {
        display: inline-block;
        text-decoration: none;
        padding: 30px 10px 35px 10px;
        &:hover {
          border-top: 5px solid $default-font-color;
          padding-top: 25px;
        }
      }


      ul.sub-menu {
        background-color: $menu-hover-background-color;
        text-align: center;
        width: 100%;
        display: none;
        position: absolute;
        top: 85px;
        z-index: 1;
        left: 0;
        font-size: 0.9em;
        li {
          margin-bottom: 0;
        }
        a {
          padding: 20px;
          &:hover {
            border-top: 0;
          }
        }
      }

      li.active,
      li:hover {
        ul.sub-menu {
          display: inline-block;
        }
      }

    }

    @media (min-width: $screen-lg-min) {
      padding-left: 30%;
      a {
        padding: 20px 10px;
        &.active,
        &:hover {
          padding-top: 15px;
        }
      }
      ul.sub-menu {
        top: 60px
      }
    }
   
  }
}

.header-image {
  background: url('../assets/images/pano_pomme.jpg') center;
  width: 100%;
  min-height: 250px;
  @media (min-width: $screen-md-min) {
    min-height: 400px;
  }
}
