body {
  color: $default-font-color;
  background-color: $main-background-color;
  font-family:$default-font-family;
}
a {
  color: $default-font-color;
  &:hover,
  &:active {
    color: $default-font-color;
  }
}

h1, h2, h3, h4, h5, h5 {
  margin: 0;
}

h1 {
  text-transform: uppercase;
}
