<ul>
    <li><a href="#">Nos produits</a></li>
    <li class="sub-menu-container">
        <a href="#">Notre travail</a>
        <ul class="sub-menu">
            <li><a href="/notre-travail/la-ferme">La ferme</a></li>
            <li><a href="/notre-travail/la-lutte-integree">La lutte intégrée</a></li>
            <li><a href="/notre-travail/visite">Visite du verger</a></li>
            <li><a href="#">Bienvenue à la ferme</a></li>
        </ul>
    </li>
    <li><a href="#">Recettes</a></li>
    <li class="sub-menu-container">
        <a href="#">Nous trouver</a>
        <ul class="sub-menu">
            <li><a href="#">La ferme</a></li>
            <li><a href="#">Marchés</a></li>
            <li><a href="#">Drive fermier</a></li>
        </ul>
    </li>
    <li><a href="#">On en parle</a></li>
</ul>
