<ul>
    <li class="sub-menu-container">
        <a href="#">Nos produits</a>
        <ul class="sub-menu">
            <li><a href="{{ site.baseurl }}/nos-produits/nos-pommes">Nos pommes</a></li>
            <li><a href="{{ site.baseurl }}/nos-produits/jus-de-pommes">Jus de pomme</a></li>
            <li><a href="{{ site.baseurl }}/nos-produits/la-cueillette-au-verger">La cueillette au verger</a></li>
        </ul>
    </li>
    <li class="sub-menu-container">
        <a href="#">Notre travail</a>
        <ul class="sub-menu">
            <li><a href="{{ site.baseurl }}/notre-travail/la-ferme">La ferme</a></li>
            <li><a href="{{ site.baseurl }}/notre-travail/la-lutte-integree">La lutte intégrée</a></li>
            <li><a href="{{ site.baseurl }}/notre-travail/visite">Visite du verger</a></li>
            <li><a href="{{ site.baseurl }}/notre-travail/verger-eco-responsable">Notre verger écoresponsable</a></li>
            <li><a href="{{ site.baseurl }}/notre-travail/bienvenue-a-la-ferme">Bienvenue à la ferme</a></li>
        </ul>
    </li>
    <li><a href="{{ site.baseurl }}/recettes">Recettes</a></li>
    <li class="sub-menu-container">
        <a href="#">Nous trouver</a>
        <ul class="sub-menu">
            <li><a href="{{ site.baseurl }}/nous-trouver/la-ferme">La ferme</a></li>
            <li><a href="{{ site.baseurl }}/nous-trouver/marches">Marchés</a></li>
        </ul>
    </li>
    <li><a href="{{ site.baseurl }}/on-en-parle">On en parle</a></li>
</ul>
